*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 70px;
  white-space:nowrap;
  color: rgb(10, 107, 75);
}